@{
    ViewData["Title"] = "E-mail cím visszajelzés";
}

<h1>E-mail cím sikeresen megerősítve</h1>
<p>A folytatáshoz kérlek, jelentkezz be!</p>
<a class="btn btn-primary" href='@Url.Action("Login","Authentication")'>Bejelentkezés</a>