@{
    ViewData["Title"] = "Változás értesítés";
}

@model string
<h1>Jelszó visszaállítása sikertelen</h1>
<p>A megadott kód érvénytelen.</p>
<a class="btn btn-primary" href='@Url.Action("Login","Authentication")'>Bejelentkezés</a>