@model BoroHFR.ViewModels.Authentication.NewPasswordViewModel

@{
    ViewData["Title"] = "Jelszómódosítás";
}

<h2>Jelszómódosítás</h2>
@using(Html.BeginForm(FormMethod.Post))
{
    <div class="form-group py-1">
        <label>Új jelszó:</label>
        @Html.PasswordFor(m=>m.NewPassword,new {@class="form-control"})
        @Html.ValidationMessageFor(m=>m.NewPassword,null,new {@class="text-danger"})
    </div>
    <div class="form-group py-1">
        <label>Új jelszó ismét:</label>
        @Html.PasswordFor(m=>m.NewPasswordAgain,new {@class="form-control"})
        @Html.ValidationMessageFor(m=>m.NewPasswordAgain,null,new {@class="text-danger"})
    </div>
    <button type="submit" class="btn btn-primary">Mentés</button>
}