@model BoroHFR.ViewModels.Authentication.PasswordResetEmailSentViewModel

@{
    ViewData["Title"] = "Visszaállítás értésítés";
}

<h1>Jelszó visszaállítása</h1>
<p>Küldtünk egy e-mailt a megadott címre (@Model.EMail).</p>
<a class="btn btn-primary" href='@Url.Action("Login","Authentication")'>Bejelentkezés</a>