@model BoroHFR.ViewModels.Authentication.PasswordResetRequestViewModel

@{
    ViewData["Title"] = "Jelszó visszaállítás";
}

<h2>Jelszó visszaállítása</h2>

<p>
    A jelszó visszaállításához add meg az e-mail címed.<br/>
    Ha a megadott e-mail címmel van regisztrált fiók, küldünk egy linket, melyen módosíthatod a jelszavad.
</p>

@using(Html.BeginForm(FormMethod.Post)){
    <div class="form-group py-1">
        @Html.TextBoxFor(m=>m.EMail ,null,new {@class="form-control"})
        @Html.ValidationMessageFor(m=>m.EMail)
    </div>
    <button type="submit" class="btn btn-primary my-2">Küldés</button>
}