<h1>BoroHFR kezdeti beállítások</h1>

<p>
    A következőkben a szerver kezdeti beállításait kell megadni. Egy MySQL/MariaDB adatbázisra és egy SMTP kiszolgálóra lesz szükség.
</p>

<a class="btn btn-primary" href='@Url.Action("DbData")'>Következő</a>