@model BoroHFR.ViewModels.Authentication.ResetPasswordViewModel


<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="format-detection" content="address=no" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="format-detection" content="email=no" />
  <meta name="x-apple-disable-message-reformatting" />
  <style type="text/css">

    .footer{
        color: darkgray;
    }
  </style>
</head>
<body style="margin: 0; padding: 0;">

    <h1>Szia, @Model.Username!</h1>

    <p>Az alábbi linken módosíthatod a jelszavad:</p>

    <a target="_blank" href='@Model.ResetUrl'>Módosítás</a>

    <p>A link 1 óra után érvénytelenné válik.</p>
    <p>Ez egy automatikusan küldött üzenet, ne válaszolj rá! Az elérhetőségek megtalálhatók a weboldalon.</p>
    <p class="footer">Boronkay Házi Feladat Rendszer - <a target="_blank" href="https://@Model.ResetUrl.Authority">@Model.ResetUrl.Host</a></p>
                
</body>
</html>
