@model BoroHFR.ViewModels.SysAdmin.AuthViewModel

@{
    ViewData["Title"] = "Bejelentkezés";
}

@using (Html.BeginForm(FormMethod.Post, new
{
    @class = "px-5 coolform",
}))
{
    <h1>Bejelentkezés</h1>
    <div class="form-group py-1">
    <label class="form-label">E-mail cím:</label>
    @Html.TextBoxFor(x => x.Email, null, new {@class="form-control bg-dark text-light", @required=""})
    @Html.ValidationMessageFor(x => x.Email, "", new
    {
    @class = "text-danger"
    })
    </div>
    <div class="form-group py-1">
    <label class="form-label">Jelszó:</label>
    @Html.PasswordFor(x => x.Password, new {@class="form-control bg-dark text-light", @required=""})
    @Html.ValidationMessageFor(x => x.Password, "", new
    {
    @class = "text-danger"
    })
    
    </div>
    @if (Model?.WrongAuthData ?? false)
    {
        <span class="text-danger">Helytelen belépési adatok.</span>
    }
    <button class="btn btn-primary" type="submit">Bejelentkezés</button>
    <a asp-action="Login" asp-controller="Authentication" class="text-center">Bejelentkezés felhasználóként</a>
}
