<div>
    <h1>Közreműködők</h1>
    <ul>
        <li>Jávor Márton - programozás, ötlet, design</li>
        <li>Varga-Labóczki Vazul - programozás, lelkesedés</li>
    </ul>
    <p>Kapcsolat: <a href="mailto:jmrtn.dev@gmail.com">jmrtn.dev@gmail.com</a></p>
</div>