<div class="modal fade" id="privacypolicymodal" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content bg-dark text-light">
            <div class="modal-header">
                <h2>Adatvédelem</h2>
            </div>
            <div class="modal-body">
                <p>Ezt a weboldalt Jávor Márton üzemelteti. (A továbbiakban: "üzemeltető", "mi")</p>
                <p>Ez a szabályzat meghatározza, hogyan kezeljük az Öntől gyűjtött vagy a weboldalunkon keresztül megadott személyes adatokat. Azzal, hogy meglátogatja a BoroHFR weboldalt (ezt a weboldalt), Ön elfogadja és beleegyezik a jelen szabályzatban leírt gyakorlatba.</p>
                <h2>Az Öntől gyűjtött adatok típusai</h2>
                <p>A következő típusú személyes adatokat gyűjthetjük, tárolhatjuk és használhatjuk a weboldalunkat látogató és használó személyekről:</p>
                <ul>
                    <li>Az Ön által megadott információk. Ön a weboldalunkon található űrlapok kitöltésével adhat meg információkat. Ez magában foglalja az Ön által megadott információkat, amikor egy regisztrációs, bejelentkezési, vagy egy feladattal kapcsolatos űrlapot nyújt be. Az Ön által megadott információk közé tartozhat az Ön e-mail címe, osztálya, illetve a csoportok, melyekbe jár.</li>
                </ul>


                <h2>Az adatkezelés időtartama</h2>
                <p>Az adatokat az aktuális tanév időtartama alatt, valamint a tanév lezárulása után 1 hónapig tároljuk, majd töröljük.</p>

                <h2>Hogyan használhatjuk fel az általunk gyűjtött információkat?</h2>
                <p>Az információkat a következő módon használjuk fel:</p>
                <ul>
                    <li>
                        Az Ön által megadott információk. Ezeket az információkat felhasználjuk:
                        <ul>
                            <li>
                                Alapvető funkciók biztosítása.
                            </li>
                            <li>
                                Kapcsolattartás a felhasználóval e-mail-en keresztül.
                            </li>
                        </ul>
                    </li>
                </ul>
                <h2>Az Ön adatainak közzététele</h2>
                <p>Az Ön által megadott bármely információ közvetlenül nekünk kerül elküldésre. Az információkat digitális formában tároljuk, és nem tesszük közzé.</p>

                <h2>Felelősségkizárás</h2>
                <p>
                    Az oldalon megadott adatokért semminemű felelősséget nem vállalunk. A rendszer közösségi felületeire feltöltött tartalmakért minden esetben a felhasználó a felelős, legyen
                    szó érzékeny információról, spamről, vagy egyéb másokat sértő, vagy törvénybe ütköző tartalomról.
                </p>
                <p>
                    A rendszert érő esetleges kibertámadás során kiszivárgó információért, vagy esetleges adatvesztésért a készítők nem vonhatók felelősségre.
                    A rendszer használatával Ön elfogadja, hogy mindent saját felelősségre tölt fel az oldalra.
                </p>

                <h2>Adatok módosítása, törlése, kapcsolatfelvétel</h2>
                <p>Az adatkezelő címe: 2677 Herencsény, Béke u. 20.</p>
                <p>Ön bármikor kérheti adatai módosítását, törlését, vagy az Önről tárolt információk megküldését.</p>
                <p>Ha kérdése van az adatkezeléssel kapcsolatban, vagy szeretne élni az adatkezeléshez kapcsolódó jogaival, vegye fel a kapcsolatot az üzemeltetővel a <a target="_blank" href="mailto:jmrtn.dev@gmail.com">jmrtn.dev@gmail.com</a> e-mail címen.</p>

                <h2>Sütik</h2>
                <p>A weboldal kizárólag a felhasználó jogosultságainak ellenőrzéséhez használ cookie-kat.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Bezárás</button>
            </div>
        </div>
    </div>

</div>
